__pycache__/
*.pyc

outputs/
output/
results/
runs/
logs/

checkpoints/
*.safetensors
*.pt
*.pth
*.ckpt

dataset/

HumanGaussian/models/
submodules/

diff-gaussian-rasterization/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store

IDOL/
MaGS/

save/
saved/

environments/

DearPyGui-1.8.0/
kiuikit-0.1.11/
PyMeshLab-0.1.9/
tiny-cuda-nn/
cubvh/

pytorch_model.bin

# 忽略 HumanGaussian 大文件
HumanGaussian/core
HumanGaussian/content/humangaussian-teaser.gif

HY-Motion-1.0/installs/
HY-Motion-1.0/ckpts/
HY-Motion-1.0/core

# HY-Motion-1.0 原始忽略文件补充
HY-Motion-1.0/cache_config.json
HY-Motion-1.0/cache/
HY-Motion-1.0/test_*/
HY-Motion-1.0/debug/
HY-Motion-1.0/tencent/

# 可选：更严格的 Python 编译文件
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz